
@font-face
	font-family: 'Bender'
	src: url('../fonts/bender/bender.eot')
	font-style: normal
	font-weight: normal

@font-face
	font-family: 'Bender'
	src: url('../fonts/bender/bender-Italic.eot')
	font-style: italic
	font-weight: normal

@font-face
	font-family: 'Bender'
	src: url('../fonts/bender/bender-Bold.eot')
	font-style: normal
	font-weight: 700

@font-face
	font-family: 'Bender'
	src: url('../fonts/bender/bender-Light.eot')
	font-style: normal
	font-weight: 200

@font-face
	font-family: 'Bender'
	src: url('../fonts/bender/bender-LightItalic.eot')
	font-style: italic
	font-weight: 200
