
.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__ 
	display: none !important
	opacity: 0 !important

*
	box-sizing: border-box
	margin: 0
	padding: 0

body
	font-family: 'Bender', sans-serif
	color: #fff
	font-size: 2vw
	letter-spacing: 0.5em
body::-webkit-scrollbar
	height: 0
	width: 0

a
	font-family: 'Bender', sans-serif
	color: #fff
	letter-spacing: 0.5em

.preloader
	.after

.portrait-orientation
	background-color: #000000
	color: #ffffff
	display: none
	font-family: 'Bender', sans-serif
	position: fixed
	text-align: center
	height: 100%
	font-size: 14px
	line-height: 36px
	vertical-align: middle
	width: 100%
	z-index: 999
	span
		display: table-cell
		vertical-align: middle
		img
			width: 320px

@media only screen and (orientation:portrait)
	.portrait-orientation
		// TODO show it in prod
		// display: table

#main-navigation
	.logo
		svg
		.lines-holder
			span.line
	&.closed
	&.invisible
	ul
		li
#presentation
	.background-holder
		img
	.foreground-holder
		img
#application-holder
	.socials-holder.deactive
		ul
			li
				a
					i
	#horizontal-viewport
		#animatedLogo
			img
		section#vertical-viewport
			section#start.empty
			section#screen-1
				.container
					.content-holder
					p
			section#screen-2
				.container
					.content-holder
					p
section#logo.empty
	.logo
		svg
		.lines-holder
			span.line
section#series.presentation.full-height
	#gallery-slider.gallery-slider
		.slider-viewport
			.slider-holder
				.slide
					.image-holder
						img
					&.active
section#blog.presentation.full-height
	.gallery-slider
		.slider-viewport
			.slider-holder
				.slide
					.image-holder
						img
					&.active
		.paginator-holder
section#about
	.container
		.content-holder
		p
			img
section#contact
	.container
		.content-holder
		.data-block
			h3
			p
.modal-content
	.modal-container
		.container
			.absolute-table

.stripe-loading-indicator
	.stripe
	.stripe-loaded

